.navbar-default .navbar-nav li a{
	color: #FFFFFF;
	font-weight: bold;
}
.navbar-default .navbar-nav li a:hover{
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}
.blogFirst{
	overflow: auto;
	height: 550px;
}
.blogFirst #titleTag{
	font-size: 20px;
	font-weight: bold;
	color: #000;
}
#readMoreButtonId {
	padding: 10px;
	background-color: #99ddff;
	color: #FFFFFF;
	width: 90px;
}
#readMoreButtonId:hover{
	background-color: #FFFFFF;
	color: #99ddff;
	width: 90px;
	cursor: pointer;
}
/*gradient color*/
#grad1 {
    background: -webkit-linear-gradient(left, #d5abea , #ae73cc,#cd7bf7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d5abea , #ae73cc,#cd7bf7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#d5abea , #ae73cc,#cd7bf7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d5abea , #ae73cc,#cd7bf7); /* Standard syntax (must be last) */
}
/*footer*/
#footerPara{
	color: #FFFFFF;
	padding: 10px;
}
/*comment style*/
#commentName {
	color: red;
	font-weight: bold;
}
/*----------------------------------------------------------------------------------------------
		contact form style
------------------------------------------------------------------------------------------------*/
* {
    box-sizing: border-box;
}


h2 {
    margin-bottom: 50px;
    color: #b675d8;
}



/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 35px;
}

input {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #b675d8;
    background: transparent;
}

    input:focus {
        outline: none;
    }

/* LABEL ======================================= */
label {
    color: #b675d8;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #b675d8;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #fff;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }



/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}
#panel{
	border-radius: 4px;
	background-color: #FFFFFF;
}
/*
#panel {
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background: red; 
    background: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
    background: -o-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); 
    background: -moz-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); 
    background: linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%); 
    border-radius: 4px;
}
*/
