html{
    height: 100%;
}
body{
    height: 100%;
}
.navbar-default .navbar-nav li a{
	color: #FFFFFF;
	font-weight: bold;
}
.navbar-default .navbar-nav li a:hover{
	color: #FFFFFF;
	font-weight: bold;
	cursor: pointer;
}
.wrapper {
    position:relative;
    min-height: calc(100% - 86px);
    margin-top:0px;
    padding-left: 0px;
}
#sectionPart{
    margin-top: -20px;
}
.blogFirst{
	overflow: auto;
	height: 550px;
}
.blogFirst #titleTag{
	font-size: 20px;
	font-weight: bold;
	color: #000;
}
#readMoreButtonId {
	padding: 5px 0px 5px 10px;
	background-color: #d5abea;
	color: #FFFFFF;
	width: 90px;
    margin-left: 115px;
}

#readMoreButtonId:hover{
	background-color: #FFFFFF;
	color: #d5abea;
	width: 90px;
	cursor: pointer;
}
/*gradient color*/
#grad1 {
    background: -webkit-linear-gradient(left, #d5abea , #ae73cc,#cd7bf7); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #d5abea , #ae73cc,#cd7bf7); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right,#d5abea , #ae73cc,#cd7bf7); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #d5abea , #ae73cc,#cd7bf7); /* Standard syntax (must be last) */
}
/*footer*/
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
.foot{
    height: 30px;
}
#footerPara{
	color: #FFFFFF;
    padding-top: 5px;
}
/*comment style*/
#commentName {
	color: red;
	font-weight: bold;
}
#theHeading{
    color: #000000;
}
#theParagraph{
    margin-top: -30px;
}
/* about Us */
.aboutLeftDesign{
    padding-top: 10px;
}
.aboutLeftDesign p{
    padding-top: 10px;
}
.aboutRightDesign .row{
    padding-top: 10px;
}
#blogThumbnail{
    float: left;width: 100px; height: 100px; margin-right: 15px;padding-top:10px;
}
/*----------------------------------------------
		contact form style
------------------------------------------------*/
* {
    box-sizing: border-box;
}


h2 {
    margin-bottom: 50px;
    color: #b675d8;
}

/* form starting stylings ------------------------------- */
.group {
    position: relative;
    margin-bottom: 35px;
}

input {
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #b675d8;
    background: transparent;
}

    input:focus {
        outline: none;
    }

/* LABEL ======================================= */
label {
    color: #b675d8;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label {
    top: -20px;
    font-size: 14px;
    color: #b675d8;
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 100%;
}

    .bar:before, .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #fff;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }

    .bar:before {
        left: 50%;
    }

    .bar:after {
        right: 50%;
    }

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: #fff;
    }

    to {
        width: 0;
        background: transparent;
    }
}
#panel{
	border-radius: 4px;
	background-color: #FFFFFF;
    margin-top: 10px;
}
#map{
    margin-top: 10px;
}
.btn-warning{
    background-color: #d5abea;
    border-color: #cd7bf7;
    color: #FFFFFF;
}
.btn-warning:hover{
    background-color: #eacdf9;
    border-color: #cd7bf7;
    color: #FFFFFF;
}
/*-------------------------------
    create blog
---------------------------------*/
.createBlogTitle{
    font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border:1px solid gray;
}
.createBlogMessage{
   font-size: 18px;
    padding: 5px 10px 10px 5px;
    display: block;
    width: 100%;
    border:1px solid gray;
}
.createBlogLabel{
    color: #b675d8;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    position: initial;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}