<div class="container">
	<form>
		<div class="col-lg-6">
			<label class="cmtLabel">Name</label>
			<input type = "text" class="cmtName" id="cmName" name="uname" required/>
			<label class="cmtLabel">Email</label>
			<input type = "text" class="cmtEmail" id="cmEmail" name="email" required/>
		</div>
		<div class="col-lg-6">
			<label class="cmtLabel">Message</label>
			<textarea name="message" id="cmMessages" class="cmtMessage" id="blgPost" rows="4" cols="120" required></textarea>
		</div>
		<div>
			<center> 
			 	<button type="button" class="btn btn-warning" id="btnCmtSubmit">Submit Comment <span class="glyphicon glyphicon-send"></span></button>
			</center>
		</div>
	</form>
</div>
<hr/>


