<div class="container">
	<div class="col-lg-offset-0 col-lg-6" id="panel">
  		<h2>Get In Touch</h2>
		<form>
		    <div class="group">
		        <input type="text" required>
		        <span class="highlight"></span>
		        <span class="bar"></span>
		        <label>Name</label>
		    </div>

			<div class="group">
			    <input type="text" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Email</label>
			</div>

           <div class="group">
                <input type="text" required>
                <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Mobile No</label>
			</div>

			<div class="group">
			    <input type="text" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Message</label>
			</div>
			
			<div class="group">
			    <center> <button type="submit" class="btn btn-warning">Send <span class="glyphicon glyphicon-send"></span></button></center>
			</div>
        </form>
    </div>
    <!-- width="560" height="450" -->
    <div class="col-lg-6" id="map">
    	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d297076.28824619984!2d79.35108547354007!3d11.954601097241662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a5361ab8e49cfcf%3A0xcc6bd326d2f0b04e!2sPuducherry!5e0!3m2!1sen!2sin!4v1503985852903"  frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
