<div class="container">
	<div class="col-lg-offset-1 col-lg-10">
		<h2>Create Blog</h2>
	    <div class="group">
	        <label class="createBlogLabel">Blog title</label>
	        <input type="text" name="blogPostTitle" id="blgTitle" class="createBlogTitle" required />
		</div>
	
		<div class="group">
		    <label class="createBlogLabel">Blog Message</label>
			<textarea name="message" class="createBlogMessage" id="blgPost" rows="10" cols="120" required></textarea>
		</div>
			
		<div class="group">
		    <center> 
				<button class="btn btn-warning" id="btnCreate">Submit Blog <span class="glyphicon glyphicon-send"></span></button>
			</center>
		</div>
	</div>	
</div>