<div class="container">
	<div class="col-lg-offset-1 col-lg-10">
		<h2>Create Blog</h2>
		<form>
		    <div class="group">
		        <input type="text" required>
		        <span class="highlight"></span>
		        <span class="bar"></span>
		        <label>Blog title</label>
		    </div>
	
			<div class="group">
			    <input type="text" required>
			    <span class="highlight"></span>
			    <span class="bar"></span>
			    <label>Blog Message</label>
			</div>
			
			<div class="group">
			    <center> <button type="submit" class="btn btn-warning">Submit Blog <span class="glyphicon glyphicon-send"></span></button></center>
			</div>
        </form>		
	</div>	
</div>